#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define HRML(k1,k2,k3,k4) &bhm LGUI k1  &bhm LCTRL k2  &bhm LALT k3  &shm LSHFT k4
#define HRMR(k2,k3,k4,k5) &shm RSHFT k2  &bhm RALT k3  &bhm RCTRL k4  &bhm RGUI k5

#define BAS 0
#define LEF 1
#define RIG 2
#define SYS 3

// abbreviate
#define LC_ESC mt LCTRL ESC
#define LS_MIN mt LSHFT MINUS

// rgb
#define R_TGL rgb_ug RGB_TOG

// outputs
#define O_USB out OUT_USB
#define O_TGL out OUT_TOG
#define O_BLE out OUT_BLE

// bluetooth
#define B0    BT_SEL 0
#define B1    BT_SEL 1
#define B2    BT_SEL 2
#define B3    BT_SEL 3
#define B4    BT_SEL 4

// media
#define VOL_DN    C_VOL_DN
#define VOL_UP    C_VOL_UP
#define MUTE      C_MUTE

/ {
    behaviors {
        #include "macros.dtsi"
        #include "version.dtsi"

        bhm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <280>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&kp>;
        };

        shm: shift_hr_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT_HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <180>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <RIG LEF>;
            then-layer = <SYS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "BAS";
            bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷    ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷
    &kp EQUAL   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp MUTE                                                         &R_TGL     &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS
    &kp PLUS    &kp Q       &kp W       &kp E       &kp R       &kp T       &kp VOL_UP                                                       &bl BL_TOG  &kp Y       &kp U       &kp I       &kp O       &kp P       &kp PIPE
    &LC_ESC     HRML(A,         S,          D,          F)      &kp G       &kp VOL_DN  &kp LSHFT   &kp LALT         &kp RALT    &kp RSHFT   &O_TGL      &kp H      HRMR(J,          K,          L,          SEMI)   &kp EQUAL
    &LS_MIN     &kp Z       &kp X       &kp C       &kp V       &kp B                               &kp LGUI         &kp RGUI                           &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp GRAVE
    &lt 3 PLUS  &kp GRAVE   &kp CAPS    &kp LEFT    &kp RIGHT               &lt 1 SPACE &kp BSPC    &kp TAB          &kp GRAVE   &kp SQT     &lt 2 ENTER             &kp LBKT    &kp RBKT    &kp LBRC    &kp RBRC    &kp UNDER
            >;
        };

        left_layer {
            label = "LEF";
            bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷    ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷
    &kp F12     &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &trans                                                           &trans      &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &kp F11
    &trans      &kp EXCL    &kp AT      &kp POUND   &kp DOLLAR  &kp PERCENT &trans                                                           &trans      &kp CARET   &kp AMPS    &kp STAR    &kp LPAR    &kp RPAR    &trans
    &trans      &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &trans      &trans      &trans           &trans      &trans      &trans      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &trans
    &trans      &kp MINUS   &kp PLUS    &kp PERIOD  &kp COLON   &kp UNDER                           &trans           &trans                              &kp BSLH    &kp LBKT    &kp LT      &kp GT      &kp QMARK   &kp TILDE
    &trans      &trans      &trans      &trans      &trans                  &trans      &trans      &trans           &trans      &trans      &trans                  &trans      &trans      &trans      &trans      &trans
            >;
        };

        right_layer {
            label = "RIG";
            bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷    ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷
    &kp F12     &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &trans                                                           &trans      &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &kp F11
    &trans      &trans      &trans      &trans      &trans      &trans      &trans                                                           &trans      &trans      &trans      &trans      &trans      &trans      &trans
    &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans      &trans           &trans      &trans      &trans      &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   &trans      &trans
    &trans      &trans      &trans      &trans      &trans      &trans                              &trans           &trans                              &trans      &trans      &trans      &trans      &trans      &trans
    &trans      &trans      &trans      &trans      &trans                  &trans      &trans      &trans           &trans      &trans      &trans                  &trans      &trans      &trans      &trans      &trans
            >;
        };

        sys_layer {
            label = "SYS";
            bindings = <
// ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷    ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷           ╷
    &trans      &trans      &trans      &trans      &trans      &trans      &trans                                                           &trans      &trans      &trans      &trans      &trans      &trans      &bt BT_CLR
    &kp F12     &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &bootloader                                                      &bootloader &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &kp F11
    &trans      &bt B0      &bt B1      &bt B2      &bt B3      &bt B4      &trans      &bl BL_INC  &bl BL_DEC       &O_USB      &O_BLE      &O_TGL      &trans      &trans      &trans      &trans      &trans      &trans
    &trans      &trans      &trans      &trans      &trans      &trans                              &trans           &trans                              &trans      &trans      &trans      &trans      &trans      &trans
    &trans      &trans      &trans      &trans      &trans                  &trans      &trans      &trans           &trans      &trans      &trans                  &trans      &trans      &trans      &trans      &trans
            >;
        };

    };
};
